<nav class="navbar navbar-dark navbar-expand-lg bg-dark contenedor-barra-navegacion">
    <div class="container-fluid barra-navegacion">
      <a class="navbar-brand bg-primary" routerLink="" (mouseover)="cambiarbanner('negro')" (mouseout)="cambiarbanner('blanco')" (click)="resetear_textos()">
        <img [src]="casa_src" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Navbar
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a [ngClass]="seccion1 ? 'nav-link active':'nav-link'" (click)="cambiar_texto(1)" aria-current="page" routerLink="/Quien-soy">¿Qu&iacute;en soy?</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="seccion2 ? 'nav-link active':'nav-link'" (click)="cambiar_texto(2)" routerLink="/Experiencia-laboral">Experiencia laboral</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="seccion3 ? 'nav-link active':'nav-link'" (click)="cambiar_texto(3)" routerLink="/Logros-academicos">Logros academicos</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="seccion4 ? 'nav-link active':'nav-link'" (click)="cambiar_texto(4)" routerLink="/Por-que-contratarme">¿Por qu&eacute; contratarme?</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="ultima_seccion ? 'nav-link active':'nav-link'" (click)="cambiar_texto(0)" routerLink="/Contactarme">Contactarme</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>