<section class="Quien_soy">
    
    <h2>¿Qu&iacute;en soy?</h2>

    <p>
        Soy un estudiante mexicano cursando el 3er semestre de bachillerato con la programacion
        como hobby
    </p>

    <h2>¿En que institucion estudias?</h2>

    <p>Estudio en un colegio de bachilleres del estado de Chihuahua</p>

    <h2>Ademas de la programacion que otras aficiones tienes</h2>

    <p>
        La musica es algo que me encanta, especialmente tocar un instrumento como
        el teclado, ademas de que tengo una fuerte pasion por los deportes de contacto
        especialmente por kickboxing y artes marciales mixtas
    </p>

    <h2>¿Que quieres estudiar o que te motiva para estudiar programacion?</h2>

    <p>
        Principalmente estudio esto para tener una situacion economica estable en 
        mi vida adulta, ya que me movitan mucho mis metas personales y economicas<br><br>

        Por parte del estudio quisera llegar a completar la carrera de ingenieria sistemas
        y llegar hacer una maestria y un doctorado en tecnologia, ademas de lograr tener certificados
        de programacion<br><br>

        En la parte laboral me motiva mucho poder llegar a trabajar de programador
        de videojuegos o cientifico de datos o en ciberseguridad, siendo este ultimo
        el trabajo que mas me motiva
    </p>

    <h2>¿Que ruta seguiste para programar esta pagina?</h2>

    <p>
        Empeze mi acercamiento a mi pasion de programar en primero de secundaria,
        debido a que tome 2 a&ntilde;os de un curso de tecnico en computacion, la 
        razon por la cual no tome mas a&ntilde;os de ese curso fue porque lo quitaron 
        de mi secundaria, y la razon por la que digo que fue mi primer acercamiento a la
        programacion fue porque me ense&ntilde;o logica de programacion usando la funcion
        IF del programa excel, de ahi me llamo la atencion la logica de programacion<br><br>
        
        De ahi empeze a interesarme por la programacion por lo cual en segundo de secundaria
        empeze a estudiar python 3 y empezar a usar kali linux al menos de una manera basica
        por lo cual aprendi la logica de programacion en python 3, no aprend&iacute; python 
        de una manera a profundidad simplemente lo aprendi para ejercitar mi logica de 
        programacion por lo cual aprendi condicionales, bucles y programacion orientada a objetos<br><br>

        Despues de eso aprendi en 3er a&ntilde;o de secundaria html, css, javascript, sql (con mysql) y
        jquery lo cual se me hizo facil de aprender ya que ya sabia python<br><br>

        Posteriormente al salir de la secundaria por motivos de pandemia perdi un a&ntilde;o 
        de bachillerato pero aprendi habilidades en absoluto nuevas para mi ya que aprendi
        que era el estandar html5 e hice un curso de programacion en logix pro, es decir
        aprendi un poquito de ladder para programar plc, el curso lo hice en cenaltec y
        si desea ver la constancia que obtuve haga click <a href="/Logros-academicos">aqui</a><br><br>

        Y llegamos al a&ntilde;o mas reciente mitad de 2021 y mitad de 2022 en el cual
        me tome muchismo mas en serio el aprender programacion por lo cual aprendi aprend&iacute; 
        php, Angular y por ende tambien typescript, sass, bootstrap, ademas de un diplomado en sistemas informatico
        usted puede ver <a href="/Logros-academicos">aqui</a>

        Y exactamente cuando sigo aprendiendo Angular estoy haciendo esta pagina web
    </p>

    <h2>¿Te sientes mas comodo en backend o frontend?</h2>

    <p>
        Personalmente jamas he sido una persona con gusto para decorar, por eso uso 
        bootstrap, y tambien por eso prefiero y me siento mas comodo en el backend 
        ya que aunque si se usan las interfaces graficas, la mayor parte del trabajo
        de un programador backend recae en la logica de los datos
    </p>

    <h2>¿Que es lo proximo que quieres aprender?</h2>

    <p>En orden de lo que mas me importa </p>
    
    <ol>
        <li *ngFor="let i of lista">{{i}} <p *ngIf="i=='Angular'" class="agregado">(Aun lo sigo aprendiendo aunque ya se algunas cosas)</p></li>
    </ol>

</section>