<section class="home">
    <h1 class="titulo">Este es mi proyecto web</h1>

    <p>
        Hola bienvenido a mi proyecto web, soy un estudiante de programacion
        autodidacta de 17 a&ntilde;os, y te presento mi primer proyecto web de manera seria
    </p>

    <h2>¿Com&oacute; esta creado el frontend de esta pagina web?</h2>

    <p>
        Lo he creado usando el estandar html5 (html,css y javascript) pero claro que he
        usado mas cosas ademas del estandar tradicional, para empezar use node como 
        entorno de desarrollo y uso el framework Angular para hacer a esta web de tipo
        SPA, tambien use sass (especificamente scss) y ademas bootstrap
    </p>

    <h2>¿Com&oacute; esta creado el backend de esta pagina web?</h2>

    <p>
        Lo he creado usando mysql y php vanilla o sin ningun framework, la razon por la 
        que no use ningun framework es porque no lo he podido instalar hasta el momento, 
        el framework que quiero usar en el backend en esta pagina web es laravel 9 
    </p>
</section>